:root {
  --color-white: #ffffff;

  --font-style-gothic: "Gothic A1", sans-serif;
  --font-style-sans: "Noto Sans KR", sans-serif;

  --font-size-large: 3rem;
  --font-size-medium: 2rem;
  --font-size-small: 1rem;
  --font-size-micro: 0.7rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 300;
}

body {
  font-family: var(--font-style-sans);
  margin: 0;
  cursor: default;
}

h1 {
  font-size: var(--font-size-large);
  font-weight: var(--weight-semi-bold);
}

p {
  font-size: var(--font-size-small);
  font-weight: var(--weight-regular);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* section navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
  color: var(--color-white);
  background-color: transparent;
  padding: 10px;
  transition: all 200ms ease;
}

#navbar.navbar-on {
  padding: 3px;
  background-color: rgba(45, 45, 45, 0.7);
}

.navbar__title {
  margin: 0;
  margin-left: 20px;
  font-size: var(--font-size-medium);
}

.navbar__menus {
  display: flex;
  margin-right: 20px;
}

.navbar__menu {
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 300ms ease;
}

.navbar__menu:hover {
  border-color: var(--color-white);
  background: rgba(45, 45, 45);
}

.navbar__menu:not(:last-child) {
  margin-right: 20px;
}

/* section home */
#home {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #313131; */
  position: relative;
}

.home-title {
  z-index: 1;
  text-align: center;
  color: var(--color-white);
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CSS for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid var(--color-white);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(--color-white);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

/* CSS for automatic navigation */
.navigation-auto {
  position: absolute;
  width: 100%;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid var(--color-white);
  padding: 8px;
  border-radius: 10px;
  transition: 300ms;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: var(--color-white);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: var(--color-white);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: var(--color-white);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: var(--color-white);
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: var(--color-white);
}

/* section service */
#service {
  width: 90vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  padding: 0;
  background: var(--color-white);
}

.service__list {
  margin: 0;
  margin-bottom: 20px;
  font-size: var(--font-size-medium);
}

.services {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service {
  max-width: 350px;
  height: 280px;
  flex: auto;
  margin: 20px;
  box-sizing: border-box;
}

.service__img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.service__img img {
  width: 100%;
  height: 100%;
}

/* section works */
