:root {
  --color-white: #ffffff;
  --color-dark-gray: #303030;
  --color-gray: #7c7c7c;

  --font-style-gothic: "Gothic A1", sans-serif;
  --font-style-sans: "Noto Sans KR", sans-serif;

  --font-size-large: 3rem;
  --font-size-medium: 2rem;
  --font-size-small: 1.2rem;
  --font-size-micro: 0.9rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 300;
}

body {
  font-family: var(--font-style-sans);
  margin: 0;
  cursor: default;
  /* -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none; */
  user-select: none;
}

h1 {
  margin: 0;
  font-size: var(--font-size-large);
  font-weight: var(--weight-semi-bold);
}

h2 {
  margin: 0;
  font-size: var(--font-size-medium);
}

h3 {
  margin: 0;
  font-size: var(--font-size-small);
}

p {
  font-size: var(--font-size-micro);
  font-weight: var(--weight-regular);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  font-size: var(--font-size-micro);
  font-weight: var(--weight-regular);
  text-decoration: none;
}

textarea {
  font-size: var(--font-size-micro);
  font-weight: var(--weight-semi-bold);
  font-family: var(--font-style-sans);
  resize: vertical; /* 상하만 가능 */
}

/* Chrome */
input,
textarea::-webkit-input-placeholder {
  font-size: var(--font-size-micro);
  font-weight: var(--weight-semi-bold);
  font-family: var(--font-style-sans);
}

/* Firefox */
input,
textarea:-moz-placeholder {
  font-size: var(--font-size-micro);
  font-weight: var(--weight-semi-bold);
  font-family: var(--font-style-sans);
}

/* IE */
input,
textarea:-ms-input-placeholder {
  font-size: var(--font-size-micro);
  font-weight: var(--weight-semi-bold);
  font-family: var(--font-style-sans);
}

/* Reveal Website On Scroll */
/* .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
} */

/* section navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
  color: var(--color-white);
  background-color: transparent;
  padding: 10px;
  transition: all 200ms ease;
}

#navbar.navbar-pixed {
  padding: 3px;
  background-color: rgba(45, 45, 45, 0.7);
}

.navbar__title {
  margin-left: 20px;
  font-size: var(--font-size-medium);
}

.navbar__menus {
  display: flex;
  margin-right: 20px;
}

.navbar__menu {
  color: rgb(197, 197, 197);
  cursor: pointer;
  padding: 5px;
  transition: all 300ms ease;
}

.navbar__menu:hover {
  color: white;
}

.navbar__menu:not(:last-child) {
  margin-right: 20px;
}

/* navbar toggleBtn */
.toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  transition: all 300ms ease;
  display: none;
}

.toggle.navbar-pixed {
  top: 10px;
  right: 20px;
}

.toggle:hover .toggle-bar {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.toggle .toggle-bar {
  background: var(--color-white);
  width: 40px;
  height: 5px;
  border-radius: 2px;
  transition: all 300ms ease;
}

.toggle .toggle-bar:not(:first-child) {
  margin-top: 10px;
}

#toggle_check:checked + .toggle {
  transform: rotateY(180deg);
}

#toggle_check:checked + .toggle .toggle-bar:nth-child(1) {
  margin-top: 15px;
  transform: rotate(-45deg);
}

#toggle_check:checked + .toggle .toggle-bar:nth-child(2) {
  opacity: 0;
}

#toggle_check:checked + .toggle .toggle-bar:nth-child(3) {
  margin-top: -20px;
  transform: rotate(45deg);
}

#toggle_check {
  display: none;
}

/* section home */
#home {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #313131; */
  position: relative;
}

.home-title {
  z-index: 1;
  text-align: center;
  color: var(--color-white);
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CSS for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid var(--color-white);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(--color-white);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

/* CSS for automatic navigation */
.navigation-auto {
  position: absolute;
  width: 100%;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid var(--color-white);
  padding: 8px;
  border-radius: 10px;
  transition: 300ms;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: var(--color-white);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: var(--color-white);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: var(--color-white);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: var(--color-white);
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: var(--color-white);
}

/* section Our Service */
#service {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 100px;
}

.service__container {
  width: 70%;
  margin: auto;
}

.service__title {
  padding-bottom: 40px;
}

.services {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service {
  max-width: 350px;
  height: 280px;
  flex: auto;
  margin: 20px;
  box-sizing: border-box;
}

.service__img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.service__img img {
  width: 100%;
  height: 100%;
}

.service > h3 {
  margin-top: 20px;
}

/* section Steps in our Works */

#works {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: url(./imgs/background_img/background_01.jpg);
  background-attachment: fixed;
  color: var(--color-white);
}

.works__container {
  width: 80%;
  margin: auto;
}

.works__title {
  padding-top: 40px;
}

.works__sub-title {
  padding-top: 20px;
}

.work__list {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.work {
  width: 300px;
  margin: 20px;
}

.work__type {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 3px solid var(--color-white);
  border-radius: 50%;
}

.work__type i {
  font-size: 50px;
  line-height: 150px;
}

/* section Our Project */
#projects {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.projects__container {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project__categories {
  margin: 20px;
}

.project__category {
  border: 0;
  color: var(--color-gray);
  background: var(--color-white);
  font-family: var(--font-style-sans);
  font-size: var(--font-size-micro);
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
  margin: 5px;
  transition: transform 300ms ease;
  display: inline-flex;
}

.selected {
  color: black;
}

.project__category:hover {
  color: black;
  transform: scale(1.1);
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 500ms ease-in;
}

.project__list.anim-out {
  opacity: 0;
  transform: scale(0.9);
}

.project {
  position: relative;
  margin: 20px;
  width: 29%;
  height: 100%;
}

.invisible {
  display: none;
}

.project__hover {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.project__name {
  margin: 0;
}

.project:hover .project__hover {
  opacity: 0.8;
}

.project__hover:after {
  content: "";
  display: block;
}

.project__img {
  height: 100%;
  width: 100%;
}

/* section About Us */
#about {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.about__container {
  width: 70%;
  margin: auto;
}

.about__title {
  text-align: center;
}

.about__img {
  margin-top: 40px;
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__description {
  width: 100%;
  margin: auto;
}
.about__description h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.about__description a:hover {
  color: blue;
}

/* section Our Skills */
#skills {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background: whitesmoke;
}

.skills__container {
  width: 70%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills__title {
  text-align: left;
}

.skill_list {
  margin-top: 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill {
  margin-top: 10px;
}

.skill__bar {
  width: 100%;
  height: 20px;
  background: lightgray;
  position: relative;
}

.skill__value {
  width: 1%;
  position: absolute;
  background: gray;
  height: 20px;
}

/* section Our Member */
#members {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.members__container {
  width: 70%;
  margin: auto;
}

.members__btn {
  margin: 20px 0 20px 0;
}

.members__btn button {
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  background: var(--color-dark-gray);
  transition: all 300ms ease;
}

.members__btn button:hover {
  background: black;
}

.members__slider {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.member__list {
  width: 150%;
  display: flex;
}

.member {
  height: 100%;
  width: 20%;
  text-align: center;
}

.member:not(:last-child) {
  margin-right: 40px;
}

.member h3 {
  margin-top: 20px;
}

.member p {
  margin: 5px;
}

.member__img img {
  width: 100%;
  height: 100%;
}

/* section Contact */
#contact {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contact__container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.contact__sub-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: var(--weight-regular);
}

.contact__info_list {
  margin: 10px 0px 10px 0px;
}
.contact__infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact__info {
  margin: 5px 20px 5px 20px;
}

.contact__info a:hover {
  color: blue;
}

.contact__info p {
  margin: 0;
}

.contact__info i {
  margin-right: 10px;
  font-size: var(--font-size-micro);
}

.contact__form_table {
  margin: auto;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(226, 226, 226);
  border-top: 2px solid black;
  border-collapse: collapse;
}

.contact__form_table tr,
.contact__form_table td {
  border: 1px solid rgb(226, 226, 226);
}

.contact__form_table input {
  box-sizing: border-box;
  width: 95%;
  padding: 10px;
  border: 0;
  background: rgb(226, 226, 226);
  margin: 5px;
}

.contact__form_table textarea {
  box-sizing: border-box;
  width: 95%;
  min-height: 200px;
  padding: 10px;
  border: 0;
  background: rgb(226, 226, 226);
  margin: 5px;
}

.contact__form_table input,
.contact__form_table textarea:focus {
  outline: none;
}

.contact__form > form > input {
  margin: 10px;
  margin-top: 30px;
  width: 65px;
  height: 25px;
  font-size: var(--font-size-micro);
  padding: 0;
  cursor: pointer;
}

/* section Map */
#map {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.map__container {
  height: 450px;
}

#footbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #2a2a2a;
}

.footbar__container {
  width: 70%;
  margin: auto;
}

.footbar__container i {
  color: white;
  margin: 0px 5px 0px 5px;
  font-size: var(--font-size-small);
}

.footbar__container p {
  margin: 0px 10px 10px 10px;
}

.footbar__cube6 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  padding: 0px 10px 0px 10px;
}

.footbar__hj {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: 0px 400px 0px 400px; */
  color: white;
  padding: 0px 10px 0px 10px;
}

/* responsive web */
@media (min-width: 768px) and (max-width: 1200px) {
  .service__container {
    width: 90%;
  }

  .service {
    max-width: 250px;
  }

  .works__container {
    width: 90%;
  }

  .work__list {
    flex-wrap: wrap;
  }

  .work {
    width: 300px;
  }

  .projects__container {
    width: 90%;
  }

  .project {
    margin: 10px;
  }

  .about__container {
    width: 90%;
  }

  .skills__container {
    width: 90%;
  }

  .members__container {
    width: 90%;
  }

  .contact__container {
    width: 90%;
  }

  .footbar__container {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  #navbar {
    padding: 10px 0px 10px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar.navbar-pixed {
    padding: 0px;
    padding-top: 3px;
  }

  .navbar__title {
    margin-bottom: 10px;
  }

  .navbar__menus {
    margin: 0;
    flex-direction: column;
    background: #2a2a2a;
    width: 100vw;
    display: none;
  }

  .navbar__menus.open {
    display: block;
  }

  .navbar__menu {
    width: 100%;
    margin: 5px;
    padding-left: 30px;
  }

  .navbar__menu:not(:last-child) {
    margin-right: 0px;
  }

  .toggle {
    display: block;
  }

  .service__container {
    width: 90%;
  }

  .service {
    max-width: 250px;
  }

  .works__container {
    width: 90%;
  }

  .work__list {
    flex-wrap: wrap;
  }

  .work {
    width: 300px;
  }

  .projects__container {
    width: 90%;
  }

  .project {
    margin: 10px;
    height: 100%;
    width: 100%;
  }

  .about__container {
    width: 90%;
  }

  .skills__container {
    width: 90%;
  }

  .members__container {
    width: 90%;
  }

  .member__list {
    width: 500%;
    display: flex;
  }

  .member {
    height: 100%;
    width: 20%;
    text-align: center;
  }

  .contact__container {
    width: 90%;
  }

  .footbar__container {
    width: 90%;
  }

  .footbar__cube6 {
    justify-content: center;
  }

  .footbar__hj {
    justify-content: center;
  }
}
